*{
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}

.a{
    
    text-align: center;
}
.a li{
    display: inline-block;
    width: 384px;
    height: 543.109;
    margin: 10px 20px;
    text-align: center;
}
.a li:hover h4{
    opacity: 1;
}
.a li:hover h5{
    opacity: 1;
}
.a li:hover img{
    transform: rotate(5deg);
}
.a li img{
    width: 100%;
    display: inline-block;
}
.a li h4{
    float: left;
    line-height: 75px;
    width: 100%;
    position: relative;
    top: -547px;
    font-size: 30px;
    background-color: #000;
    color: #fff;
    opacity: 0;
    transition: .5s;
}
.a li h5{
    float: left;
    line-height: 50px;
    width: 100%;
    position: relative;
    top: -179px;
    font-size: 15px;
    background-color: rgb(248, 248, 255);
    color: #000;
    opacity: 0;
    transition: .5s;
}